<% include ../includes/header %>
<body>
  <div class="pc_layout">
    <section id="wallpaper">
      <div id="black_overlay">
        <!--Typing simulater-->
        <div class="typing-simulator typing-simulator--name-temp">
          <div class="typing-simulator__text"></div>
          <div
            class="typing-simulator__cursor typing-simulator__cursor--inactive"
          ></div>
        </div>
      </div>
    </section>

    <section id="menu_layout">
      <div class="" id="content_lectures">
        <!--Navigation -->
        <div id="navigation">
          <span class="link_text animate"
            ><a href="https://webdevcg.herokuapp.com/index">Info</a>
          </span>
          <span class="link_text"
            ><a href="https://webdevcg.herokuapp.com/lectures"
              >Lectures</a
            ></span
          >
          <span class="link_text"
            ><a href="https://webdevcg.herokuapp.com/assignments"
              >Assignments</a
            ></span
          >
        </div>
        <!--Navigation -->

        <h2 class="small">
          Homework
        </h2>

        <p>
          Listed below are the released assignments. More will be posted here as
          the class progress. Go to the home page for new homework
          announcements.
        </p>

        <div>
          <h3 class="small">
            Homework 2
          </h3>
          <ul>
            <li>
              <a>Homework 2 : Browser Extension</a>
            </li>
            <li><a>Starter Zip download here</a></li>
          </ul>
        </div>

        <div>
          <h3 class="small">
            Homework 1
          </h3>
          <ul>
            <li>
              <a href="http://web.stanford.edu/class/cs193x/homework/1-listicle"
                >Homework 1 : Listicle</a
              >
            </li>
            <li>
              <a href="https://webdevcg.herokuapp.com/homework/homework1.zip"
                >Starter Zip download here</a
              >
            </li>
          </ul>
        </div>

        <div>
          <h3 class="small">Homework 0</h3>
          <ul>
            <li>
              <a href="http://web.stanford.edu/class/cs193x/homework/0-welcome">
                Homework 0 : Github Pages
              </a>
            </li>
            <li>Due Friday : 22nd February</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</body>

<% include ../includes/footer %>
