<% include ../includes/header %>
<body>
  <div class="pc_layout">
    <section id="wallpaper">
      <div id="black_overlay"><h2>CG UENR</h2></div>
    </section>

    <section id="menu_layout">
      <div class="" id="content">
        <p id="heading">Creativity Group UENR</p>
        <p id="title">Web development Fundamentals</p>
        <p>
          Welcome to Web Programming Fundamentals! This is an opinionated
          introduction to web programming. In this class, you will learn modern
          full-stack web development techniques. We will begin the class without
          the use of any frontend framework and then later in the course end
          with a framework in mind (React).
        </p>

        <div>
          <ul>
            <li>
              <span class="highlight">Prereqs </span>: Programming proficiency,
              Unix/command-line proficiency
            </li>
            <li>
              <span class="highlight">Venue </span>: University Of Energy And
              Natural Resources
            </li>
            <li>
              <span class="highlight">Final Project </span> : Details TBA.
            </li>
          </ul>
        </div>

        <p>
          <strong>This class is limited enrollment.</strong> This is the second
          offering of the class, so enrollment is limited. It will be offered
          again sometime .
        </p>

        <div>
          <h3 class="small">Course staff</h3>
          <p>
            Please post to <a class="links" href="#">Slack</a> for homework
            questions. For personal matters, contact the course staff
          </p>

          <ul class="" id="staff">
            <li>Botwe Asamoah Emmanuel</li>
            <li>Gyampo Edward</li>
            <li>Sammy</li>
          </ul>
        </div>

        <div>
          Feedback We would love your feedback on the course! To give feedback
          on homework, please use the feedback form attached to to the
          submission form. (Will be available on HW1 onward.) For all other
          feedback, send an email to the course staff with your suggestions:

          <a>creativitygroupuenr44@gmail.com</a> If you’d prefer to stay
          anonymous, you can also message us via our
          <a class="links" href="#"> sayatme link.</a> Hope to hear from you
          soon!
        </div>

        <div id="social_handles">
          <span>Instagram</span> <span>Facebook</span>
        </div>
      </div>
    </section>
  </div>
</body>

<% include ../includes/footer %>
