<% include ../includes/header %>
<body>
  <div class="pc_layout">
    <section id="wallpaper">
      <div id="black_overlay">
        <!--Typing simulater-->
        <div class="typing-simulator typing-simulator--name-temp">
          <div class="typing-simulator__text"></div>
          <div
            class="typing-simulator__cursor typing-simulator__cursor--inactive"
          ></div>
        </div>
      </div>
    </section>

    <section id="menu_layout">
      <div class="" id="content">
        <!--Navigation -->
        <div id="navigation">
          <span class="link_text animate"
            ><a href="https://webdevcg.herokuapp.com/index">Info</a>
          </span>
          <span class="link_text"
            ><a href="https://webdevcg.herokuapp.com/meetings"
              >Lectures</a
            ></span
          >
          <span class="link_text"
            ><a href="https://webdevcg.herokuapp.com/assignments"
              >Assignments</a
            ></span
          >
        </div>
        <!--Navigation -->
        <iframe
          src="https://docs.google.com/forms/d/e/1FAIpQLScRRcsK-gdlnUnQZr6-uowamER4r4hbLTpEWOkrANCU9O0doA/viewform?embedded=true"
          width="700"
          height="520"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          >Loading...</iframe
        >
        <!--Sponsors -->
        <div id="sponsors">
          <span>Creativity Group UENR In Collaboration With Kumasi Hive</span>
          <div id="sponsors_images_section">
            <span class="spon_hive" id="hive">
              <img class="logo_" src="./images/hive.png" alt="" />
              <p class="text">
                <a class="links" href="http://kumasihive.com/">Kumasi hive</a>
              </p>
            </span>
            <span class="spon_hive margin-left">
              <img class="logo_" src="./images/cg.png" alt="CG" />
              <p class="text">CG UENR</p>
            </span>
          </div>
        </div>

        <div id="social_handles">
          <span class="social_handles_content">
            <img
              class="s_media_handle"
              src="./images/insta.png"
              alt=""
              srcset=""
            />
            <p>
              <a
                class="links"
                href="https://www.instagram.com/creativity_group_uenr/"
                >Instagram</a
              >
            </p>
          </span>
          <span class="social_handles_content">
            <img
              class="s_media_handle"
              src="./images/face.jpeg"
              alt=""
              srcset=""
            />
            <p>
              <a
                class="links"
                href="https://web.facebook.com/creativitygroupuenr"
                >Facebook</a
              >
            </p></span
          >
        </div>
      </div>
    </section>
  </div>
</body>

<% include ../includes/footer %>
