<% include ../includes/header %>
<body>
  <div class="pc_layout">
    <section id="wallpaper">
      <div id="black_overlay">
        <!--Typing simulater-->
        <div class="typing-simulator typing-simulator--name-temp">
          <div class="typing-simulator__text"></div>
          <div
            class="typing-simulator__cursor typing-simulator__cursor--inactive"
          ></div>
        </div>
      </div>
    </section>

    <section id="menu_layout">
      <div class="" id="content">
        <!--Navigation -->
        <div id="navigation">
          <span class="link_text animate"
            ><a href="https://webdevcg.herokuapp.com/index">Info</a>
          </span>
          <span class="link_text"><a href="#">Lectures</a></span>
          <span class="link_text"><a href="#">Assignments</a></span>
        </div>
        <!--Navigation -->
        <article>
          <div>1. Click on the Enroll button on the webpage</div>
          <img src="./images/btn1.jpg" alt="" srcset="" />
        </article>

        <article>
          <div>2. Enter Your details in the Google Forms provided</div>
          <img src="./images/btn2.png" alt="" srcset="" />
        </article>
        <article>
          <div>3. Check Your mail for an Invitation to slack and click to login</div>
          <img src="./images/btn4.png" alt="" srcset="" />
        </article>
        </article>
        <article>
          <div>3. Enter your details to setup your account  </div>
          <img src="./images/btn5.png" alt="" srcset="" />
        </article>
        <article>
          <div>4. Voila!! Welcome   </div>
          
        </article>

        <div id="social_handles">
          <span class="social_handles_content">
            <img
              class="s_media_handle"
              src="./images/insta.png"
              alt=""
              srcset=""
            />
            <p>
              <a
                class="links"
                href="https://www.instagram.com/creativity_group_uenr/"
                >Instagram</a
              >
            </p>
          </span>
          <span class="social_handles_content">
            <img
              class="s_media_handle"
              src="./images/face.jpeg"
              alt=""
              srcset=""
            />
            <p>
              <a
                class="links"
                href="https://web.facebook.com/creativitygroupuenr"
                >Facebook</a
              >
            </p></span
          >
        </div>
      </div>
    </section>
  </div>
</body>

<% include ../includes/footer %>
