<% include ../includes/header %>
<body>
  <div class="pc_layout">
    <section id="wallpaper">
      <div id="black_overlay">
        <!--Typing simulater-->
        <div class="typing-simulator typing-simulator--name-temp">
          <div class="typing-simulator__text"></div>
          <div
            class="typing-simulator__cursor typing-simulator__cursor--inactive"
          ></div>
        </div>
      </div>
    </section>

    <section id="menu_layout">
      <div class="" id="content_lectures">
        <!--Navigation -->
        <div id="navigation">
          <span class="link_text animate"
            ><a href="https://webdevcg.herokuapp.com/index">Info</a>
          </span>
          <span class="link_text"
            ><a href="https://webdevcg.herokuapp.com/meetings"
              >Lectures</a
            ></span
          >
          <span class="link_text"
            ><a href="https://webdevcg.herokuapp.com/assignments"
              >Assignments</a
            ></span
          >
        </div>
        <!--Navigation -->

        <h2 class="small">
          Lectures
        </h2>

        <p>
          This page will contain the slides, notes, and example code pertaining
          to lecture.
        </p>

        <div>
          <h3 class="small">
            Mar 1 : Introduction to JavaScript
          </h3>
          <ul>
            <li>
              <a
                href="https://webdevcg.herokuapp.com/slides/lecture07-converted.pdf"
              >
                Slide 7
              </a>
            </li>

            <li>
              <a href="https://scratch.mit.edu"
                >Introduction To Programming with scratch
              </a>
            </li>

            <li>
              <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
                >What is JavaScript ?</a
              >
            </li>

            <li>
              <a href="http://jsforcats.com/"
                >Language feature tour @jsforcats
              </a>
            </li>

            <li>
              <a href="https://webdevcg.herokuapp.com/homework/jsstartup.zip"
                >Javascript Starter Zip download here</a
              >
            </li>
          </ul>
        </div>

        <div>
          <h3 class="small">
            Feb 22: More Flexbox and layout, position : Mobile web
          </h3>
          <ul>
            <li>
              <a
                href="https://webdevcg.herokuapp.com/slides/lecture05-converted.pdf"
              >
                Slide 5
              </a>
            </li>

            <li>
              <a
                href="https://webdevcg.herokuapp.com/slides/lecture05-converted.pdf"
              >
                Slide 6
              </a>
            </li>
            <li>
              <a href="https://flexboxfroggy.com">
                Flexbox froggy
              </a>
            </li>
            <li><a>Starter Zip download here</a></li>
          </ul>
        </div>

        <div>
          <h3 class="small">
            Feb 15: Classes and ids, CSS Box Model, Flexbox
          </h3>
          <ul>
            <li>
              <a
                href="https://webdevcg.herokuapp.com/slides/lecture03-converted.pdf"
              >
                Slide 3
              </a>
            </li>

            <li>
              <a
                href="https://webdevcg.herokuapp.com/slides/lecture04-converted.pdf"
              >
                Slide 4
              </a>
            </li>

            <li>
              <a href="https://bedford-demo.squarespace.com/"
                >Square space demo page</a
              >
            </li>

            <li>
              <a
                href="https://webdevcg.herokuapp.com/homework/negative_margin.zip"
              >
                Negative margins and z index</a
              >
            </li>

            <li>
              <a
                href="https://webdevcg.herokuapp.com/homework/empty-prject.zip"
              >
                squarespace starter project</a
              >
            </li>
          </ul>
        </div>

        <div>
          <h3 class="small">
            Feb 8: Course overview and basic HTML/CSS, Block vs inline
          </h3>
          <ul>
            <li>
              <a
                href="https://webdevcg.herokuapp.com/slides/lecture01-converted.pdf"
              >
                Slide 1
              </a>
            </li>
            <li>
              <a
                href="https://webdevcg.herokuapp.com/slides/lecture02-converted.pdf"
              >
                Slide 2
              </a>
            </li>
            <li>
              <a
                href="https://webdevcg.herokuapp.com/homework/empty-starter-prject.zip"
                >empty project</a
              >
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</body>

<% include ../includes/footer %>
