<% include ../includes/header %>
<body id="full_body">
  <div id="full_page">
    <div id="top_divider"></div>

    <div id="content_divider">
      <h3 class="small">Lectures</h3>
    </div>
  </div>
</body>

<% include ../includes/footer %>
